# Model Optimised with Keras-tuner Suggestions

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
#Install Keras-tuner
!pip install keras-tuner

Requirement already satisfied: keras-tuner in /usr/local/lib/python3.10/dist-packages (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.31.0)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2023.7.22)

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN","NAME"], axis = 1, inplace = True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
counts_AT = application_df.APPLICATION_TYPE.value_counts()
counts_AT

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts_AT[counts_AT<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
counts_class = application_df.CLASSIFICATION.value_counts()
counts_class

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df.CLASSIFICATION.value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(counts_class[counts_class<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns='IS_SUCCESSFUL')


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
units_0 = 7
units_1 = 1
units_2 = 7
units_3 = 7
units_4 = 9
units_5 = 9
input_features = len(X_train_scaled[0])
nn_hypmodel = tf.keras.models.Sequential()

In [ ]:
# First hidden layer
nn_hypmodel.add(tf.keras.layers.Dense(units=units_0, input_dim = input_features, activation = "sigmoid"))

# Second hidden layer
nn_hypmodel.add(tf.keras.layers.Dense(units=units_1, activation = "sigmoid"))

# Third hidden layer
nn_hypmodel.add(tf.keras.layers.Dense(units=units_2, activation = "sigmoid"))

# Fourth hidden layer
nn_hypmodel.add(tf.keras.layers.Dense(units=units_3, activation = "sigmoid"))

# Fifth hidden layer
nn_hypmodel.add(tf.keras.layers.Dense(units=units_4, activation = "sigmoid"))

# Sixth hidden layer
nn_hypmodel.add(tf.keras.layers.Dense(units=units_5, activation = "sigmoid"))

# Output layer
nn_hypmodel.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_hypmodel.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 7)                 308

 dense_8 (Dense)             (None, 1)                 8

 dense_9 (Dense)             (None, 7)                 14

 dense_10 (Dense)            (None, 7)                 56

 dense_11 (Dense)            (None, 9)                 72

 dense_12 (Dense)            (None, 9)                 90

 dense_13 (Dense)            (None, 1)                 10

=================================================================
Total params: 558
Trainable params: 558
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_hypmodel.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
# Train the model (epochs = 20)
fit_model = nn_hypmodel.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 3s 2ms/step - loss: 0.6924 - accuracy: 0.5264
Epoch 2/20
804/804 [==============================] - 2s 2ms/step - loss: 0.6374 - accuracy: 0.6490
Epoch 3/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5803 - accuracy: 0.7288
Epoch 4/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5788 - accuracy: 0.7295
Epoch 5/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5783 - accuracy: 0.7302
Epoch 6/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5782 - accuracy: 0.7312
Epoch 7/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5781 - accuracy: 0.7306
Epoch 8/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5778 - accuracy: 0.7311
Epoch 9/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5777 - accuracy: 0.7304
Epoch 10/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5777 - accuracy: 0.7303
Epoch 11/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5776 - accuracy: 0.7303
Epoch 12/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5774 - accuracy: 0.7304
Epoch 13/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5772 - accuracy: 0.7308
Epoch 14/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5769 - accuracy: 0.7304
Epoch 15/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5763 - accuracy: 0.7299
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5760 - accuracy: 0.7302
Epoch 17/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5757 - accuracy: 0.7302
Epoch 18/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5749 - accuracy: 0.7299
Epoch 19/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5746 - accuracy: 0.7296
Epoch 20/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5741 - accuracy: 0.7305

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_hypmodel.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5740 - accuracy: 0.7318 - 509ms/epoch - 2ms/step
Loss: 0.5740066170692444, Accuracy: 0.7317784428596497

In [ ]:
from google.colab import files

nn_hypmodel.save('/content/AlphabetSoupCharity_Optimisation.h5')
files.download('/content/AlphabetSoupCharity_Optimisation.h5')